	<!-- clients-say strat -->
	<section id="clients-say" class="clients-say">
		<div class="container">
			<div class="section-header">
				<h2>Müşteri Yorumları</h2>
			</div><!--/.section-header-->
			<div class="row">
				<div class="owl-carousel testimonial-carousel">
					<div class="col-sm-3 col-xs-12">
						<div class="single-testimonial-box">
							<div class="testimonial-description">
								<div class="testimonial-info">
									<div class="testimonial-img">
										<img src="assets/images/clients/c1.png" alt="image of clients person" />
									</div><!--/.testimonial-img-->
								</div><!--/.testimonial-info-->
								<div class="testimonial-comment">
									<p>
									"Yıllardır araç kiralıyorum, ancak bu sefer aldığım hizmet gerçekten çok farklıydı. 
									Hem araçların durumu hem de müşteri hizmetleri oldukça kaliteli. 
									Aracı teslim aldıktan sonra herhangi bir aksaklık yaşamadım. 
									Ayrıca fiyatlar da oldukça makul. Gerçekten harika bir deneyimdi, çok teşekkür ederim!
									</p>
								</div><!--/.testimonial-comment-->
								<div class="testimonial-person">
									<h2><a href="#">Ahmet Demir</a></h2>
									<h4>İstanbul/Anadolu</h4>
								</div><!--/.testimonial-person-->
							</div><!--/.testimonial-description-->
						</div><!--/.single-testimonial-box-->
					</div><!--/.col-->
					<div class="col-sm-3 col-xs-12">
						<div class="single-testimonial-box">
							<div class="testimonial-description">
								<div class="testimonial-info">
									<div class="testimonial-img">
										<img src="assets/images/clients/c2.png" alt="image of clients person" />
									</div><!--/.testimonial-img-->
								</div><!--/.testimonial-info-->
								<div class="testimonial-comment">
									<p>
										"İlk defa araç kiraladım ve beklentilerimin çok üzerinde bir hizmet aldım.
										 Aracım çok yeni ve yakıt tasarruflu olduğu için çok memnun kaldım. 
										 Kiralama işlemleri hızlıydı ve çalışanlar gerçekten çok yardımcı oldular. 
										Hem profesyonel hem de güler yüzlü bir ekip. Kesinlikle tekrar kiralayacağım!"
									</p>
								</div><!--/.testimonial-comment-->
								<div class="testimonial-person">
									<h2><a href="#">Damla Susan</a></h2>
									<h4>İstanbul/Avrupa</h4>
								</div><!--/.testimonial-person-->
							</div><!--/.testimonial-description-->
						</div><!--/.single-testimonial-box-->
					</div><!--/.col-->
					<div class="col-sm-3 col-xs-12">
						<div class="single-testimonial-box">
							<div class="testimonial-description">
								<div class="testimonial-info">
									<div class="testimonial-img">
										<img src="assets/images/clients/c3.png" alt="image of clients person" />
									</div><!--/.testimonial-img-->
								</div><!--/.testimonial-info-->
								<div class="testimonial-comment">
									<p>
										"Bu kadar sorunsuz bir araç kiralama deneyimi yaşamadım! 
										Online rezervasyon kolaydı, araç gerçekten çok temiz ve bakımlıydı. 
										Teslimat ve teslim alma işlemleri de hızlı ve profesyoneldi. 
										Kiralama süresi boyunca hiçbir sorun yaşamadım. 
										Gerçekten tavsiye ederim, bir sonraki seyahatimde yine tercih edeceğim!"
									</p>
								</div><!--/.testimonial-comment-->
								<div class="testimonial-person">
									<h2><a href="#">Emre Kocaman</a></h2>
									<h4>İstanbul/Anadolu</h4>
								</div><!--/.testimonial-person-->
							</div><!--/.testimonial-description-->
						</div><!--/.single-testimonial-box-->
					</div><!--/.col-->
				</div><!--/.testimonial-carousel-->
			</div><!--/.row-->
		</div><!--/.container-->

	</section><!--/.clients-say-->
	<!-- clients-say end -->