<style>
    .card-title
    {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
</style>

    <div class="container mt-4" style="margin-top: 15rem; margin-bottom: 10rem;">
        <h6 class="text-center mb-4">İptal ve İade Koşulları</h6>
        <div class="card">
            <div class="card-body">
                <h6 class="card-title" style="margin-bottom: 2rem">Ön Ödemeli Rezervasyon İptali</h6>
                <ul>
                    <li><strong>24 Saat Öncesine Kadar İptal:</strong> Ön ödemeli rezervasyonlarda, aracın teslim alma saatinden 24 saat öncesine kadar yapılan iptallerde rezervasyon ücretinin tamamı iade edilir.</li>
                    <li><strong>24 Saatten Az Kalan Süre İçin İptal:</strong> Aracın teslimatına 24 saatten daha az bir süre kala yapılan iptallerde rezervasyon tutarının 1/3’ü kesintiye uğrar ve 2/3’lük kısmı iade edilir.</li>
                    <li><strong>Araç Teslim Alınmazsa:</strong> Müşterilerimiz, rezervasyon sırasında belirtilen saatte aracı teslim almazlarsa, 2 saat boyunca bekletilecektir. Bu süre sonunda aracın teslim alınmaması durumunda, rezervasyon otomatik olarak iptal edilir ve ücret iadesi yapılmaz.</li>
                </ul>

                <h4 class="card-title mt-4">Yabancı Ehliyet Sahipleri İçin Şartlar</h4>
                <ul>
                    <li><strong>Pasaport ve Ehliyet İbrazı:</strong> Yabancı ehliyete sahip müşterilerin, kiralama ofisimize pasaportlarını, ehliyetlerini ve uçak biletlerini ibraz etmeleri gerekmektedir. Bu belgeler sağlanmadığı takdirde, rezervasyon tutarının 1/3’ü kesilerek iade edilir.</li>
                </ul>

                <h4 class="card-title mt-4">Ön Ödemeli Rezervasyon İadesi</h4>
                <ul>
                    <li><strong>İade Süresi:</strong> Ön ödemeli rezervasyonların iade işlemi, bankanın işlem yoğunluğuna bağlı olarak 7-14 iş günü arasında kredi kartınıza yansıyacaktır.</li>
                    <li><strong>İade Şartları:</strong> Kiralama koşullarında belirtilen şartları yerine getiremeyen müşterilerimizin araç teslimi yapılamaz. Bu durumda rezervasyon ücretinin 1/3’ü kesilerek iade yapılır. (Örneğin: araç teslimatına ehliyet ya da kredi kartı getirmemek vb)</li>
                </ul>

                <h4 class="card-title mt-4">Ödeme Yöntemleri ve Depozito</h4>
                <ul>
                    <li><strong>Ödeme Yöntemi:</strong> Ödeme sadece kredi kartı ile yapılabilir. Nakit ödeme, debit kart veya sanal kart ile ödeme kabul edilmez.</li>
                    <li><strong>Depozito:</strong> Kiralama ve araç grubuna göre değişen depozito tutarı, müşterinin kredi kartından tahsil edilir. Kredi kartının üzerinde kiralama yapan kişinin adı ve soyadı yer almalıdır. Depozito iadeleri araç iadesinden sonra 7-14 iş günü içinde ödeme yapılan kredi kartına iade edilir.</li>
                    <li><strong>Ehliyet İbrazı:</strong> Aracı teslim alacak kişinin, ehliyetini GRSCAR ofisine ibraz etmesi gerekmektedir. Resim ve E devlet bilgileri kabul edilmez. Birleştirilmiş ehliyet-kimlik geçersizdir.</li>
                </ul>

                <h4 class="card-title mt-4">Ön Ödemeli Rezervasyon İndirimleri</h4>
                <ul>
                    <li><strong>Kampanya İstisnası:</strong> Ön ödemeli rezervasyonla elde edilen indirimler, başka bir kampanya ile birleştirilemez.</li>
                </ul>

                <h4 class="card-title mt-4">Rezervasyon Değişikliği</h4>
                <ul>
                    <li><strong>Değişiklik Politikası:</strong> Ön ödemeli rezervasyonlarda değişiklik yapılamaz. Değişiklik yapmak isteyen müşterilerimizin iptal prosedürünü takip etmeleri ve ardından yeni bir rezervasyon yapmaları gerekmektedir. İptal ve iade koşulları, yukarıda belirtilen şekilde uygulanacaktır.</li>
                </ul>

                <h4 class="card-title mt-4">Kullanılmayan Günler İçin İade</h4>
                <ul>
                    <li><strong>İade Politikası:</strong> Kiralama süresi başladıktan sonra aracın erken teslim edilmesi veya rezervasyon formunda belirtilen tarihlerden önce iade edilmesi durumunda kullanılmayan günler için iade yapılmaz. Müşteriler, belirtilen tarih ve saatte aracı teslim almadıkları takdirde, ödenen tutar geri iade edilmez.</li>
                </ul>

                <h4 class="card-title mt-4">Kiralama Süresinin Uzatılması</h4>
                <ul>
                    <li><strong>Kiralama Süresi Uzatımı:</strong> Ön ödemeli rezervasyon ile yapılan kiralamada, rezervasyon süresi planlanan dönüş tarihinden sonra uzatılmak istenirse, ek ücret kiralama başlangıcında belirtilen kredi kartından tahsil edilir. Kiralama süresi 1-30 gün arasında olup, kiralama esnasında 30 güne kadar süre uzatımı GRSCAR’ın uygun görmesi durumunda sağlanabilir. 1-30 gün süresi içinde, rezervasyon süresi daha kısa süre de sonlanıp, aynı güne veya ertesi güne farklı bir rezervasyon ya da kiralama işlemi sağlanamayacak olup; ancak devam eden kiralama mevcut kilometre ve fiyat şartlarıyla 30 güne kadar uzatılabilir.</li>
                    <li><strong>Uzama Talebi:</strong> Kiralama süresinin uzatılabilmesi için, planlanan dönüş saatinden en az 24 saat önce uzama talebinin iletilmesi ve ödeme yapılması gerekmektedir. Bu şartların sağlanmaması halinde, GRSCAR aracı geri alabilir ve uzatma işlemi yapılmaz.</li>
                </ul>

                <h4 class="card-title mt-4">Destek ve İletişim</h4>
                <p>WanderRider Araç Kiralama, müşteri memnuniyetine büyük önem verir ve her türlü iptal, iade ve değişiklik taleplerini adil bir şekilde değerlendirmeye çalışır. Rezervasyonunuzu gerçekleştirmeden önce bu koşulları dikkatle incelemeniz önerilir.</p>
                <p>Daha fazla bilgi için <strong>444 8 181</strong> numaralı çağrı merkezimizden destek alabilirsiniz.</p>
            </div>
        </div>
    </div>


